In [2]:
import pandas as pd

# Common Windows encoding
df = pd.read_csv("dataset.csv", encoding="cp1252")

# first need to subset
counties = ["Los Angeles", "San Diego", "Orange", "Riverside", "San Bernardino"]

subset_df = df[df["County"].isin(counties)]

# get rid of the 30-day (done)
# remove location column (done)
# print unique types in hospital rating and see how many unique types, convert to like three of four (there is already three so this looks good)
# do something with the e's 
# Cleaning the Data

subset_df.loc[:, 'Measure'] = subset_df['Measure'].str.replace('30-day ', '')

subset_df.loc[:, '# of Cases'] = pd.to_numeric(subset_df['# of Cases'], errors='coerce')
subset_df.loc[:, '# of Deaths/Readmissions'] = pd.to_numeric(subset_df['# of Deaths/Readmissions'], errors='coerce')

In [3]:
import numpy as np 

subset_df.head()

,Year,County,Hospital,OSHPDID,Measure,Risk Adjusted Rate,# of Deaths/Readmissions,# of Cases,Hospital Ratings,Location 1
92,2011-2012,Los Angeles,Alhambra Hospital,106190017,Readmission,10.40,12.0,96.0,As Expected,"(34.08988, -118.1449)"
93,2011-2012,Los Angeles,Alhambra Hospital,106190017,Mortality,4.63,5.0,100.0,As Expected,"(34.08988, -118.1449)"
94,2011-2012,Los Angeles,Antelope Valley Hospital,106190034,Readmission,14.61,61.0,414.0,As Expected,"(34.68928, -118.15767)"
95,2011-2012,Los Angeles,Antelope Valley Hospital,106190034,Mortality,12.32,41.0,431.0,As Expected,"(34.68928, -118.15767)"
96,2011-2012,Los Angeles,Saint Mary Medical Center,106190053,Readmission,11.55,26.0,189.0,As Expected,"(33.7802376, -118.1866412)"

In [4]:
subset_df=subset_df.loc[:, ['Year','County', 'Hospital','OSHPDID','Measure','Risk Adjusted Rate','# of Deaths/Readmissions','# of Cases','Hospital Ratings']]

In [5]:
subset_df['Hospital Ratings'].unique()

array(['As Expected', 'Worse', 'Better', nan], dtype=object)

In [6]:
subset_df['Measure'].unique()

array(['Readmission', 'Mortality'], dtype=object)

In [7]:
subset_df['Start'] = subset_df['Year'].str.split('-').str[0]
subset_df['Year']=subset_df['Start']
subset_df = subset_df.drop('Start',axis=1)

subset_df['Year'] = pd.to_numeric(subset_df['Year'], errors='coerce')
subset_df.head()

,Year,County,Hospital,OSHPDID,Measure,Risk Adjusted Rate,# of Deaths/Readmissions,# of Cases,Hospital Ratings
92,2011,Los Angeles,Alhambra Hospital,106190017,Readmission,10.40,12.0,96.0,As Expected
93,2011,Los Angeles,Alhambra Hospital,106190017,Mortality,4.63,5.0,100.0,As Expected
94,2011,Los Angeles,Antelope Valley Hospital,106190034,Readmission,14.61,61.0,414.0,As Expected
95,2011,Los Angeles,Antelope Valley Hospital,106190034,Mortality,12.32,41.0,431.0,As Expected
96,2011,Los Angeles,Saint Mary Medical Center,106190053,Readmission,11.55,26.0,189.0,As Expected

In [8]:
X = subset_df

ddf = pd.get_dummies(X['Hospital Ratings'],dtype='int')
X['Hospital Ratings'] = X['Hospital Ratings'].fillna('Unknown')

from sklearn.preprocessing import LabelBinarizer

one_hot_encoder = LabelBinarizer()
oh = one_hot_encoder.fit_transform(X['Hospital Ratings']) # One-hot encode the 'bird' variable
#print(oh)
names = one_hot_encoder.classes_ # Get names of the classes
#print(names)

zdf = pd.DataFrame( data = oh, columns = names) # Create a new df for the encoded variables
zdf.head()

   As Expected  Better  Unknown  Worse
0            1       0        0      0
1            1       0        0      0
2            1       0        0      0
3            1       0        0      0
4            1       0        0      0

In [9]:
ddf = pd.get_dummies(X['Measure'], dtype=int)
X['Measure'] = X['Measure'].fillna('Unknown')

X['Measure'] = X['Measure'].fillna('Unknown')
zdf = pd.get_dummies(X['Measure'], dtype=int)

zdf.head()

    Mortality  Readmission
92          0            1
93          1            0
94          0            1
95          1            0
96          0            1